body {
  background-color: #e9f5ee;
  padding-top: 56px; /* Espaço para o menu fixo */
}

.card {
  margin-top: 20px;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .5);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, .75);
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.login-background {
  min-height: 430px;
  background-image: url(../../static/img/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  
}

.form-container {
  margin-top: 100px;
}
.form-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (min-width: 992px) {
  .form-content {
      max-width: 800px;
      margin: 0 auto;
  }
}
