{% extends "dashboard/baseAdmin.html" %}
{% block content %}

<h1>Dashboard</h1>
        <p>Bem-vindo ao sistema de suporte à decisão para diagnóstico de doenças cardiovasculares.</p>
        <!-- Conteúdo adicional aqui -->
        <img src="{{ url_for('static', filename='img/logo.png') }}" class="mx-auto d-block w-50">
    <h6 class="text-center text-success" style="font-size: 18px; font-weight: bold;">
      Diagnóstico inteligente, Cuidado preciso
     </h6>
     <h6 class="text-center text-dark" style="font-size: 18px; font-weight: normal;">SISTEMA DE SUPORTE À DECISÃO PARA AUXILIAR MÉDICOS NO DIAGNÓSTICO DE DOENÇAS CARDIOVASCULARES</h6>   
  

{% endblock %}
